<%= form_with(model: @post, local: true ,url: choose_new_or_edit ) do |form| %>
 <body>
  <header class="header clearfix">
    <a href="index.html">
      <img src="../../assets/images/party_cracker.jpeg" class="logo_image">
    </a>
    <nav>
      <ul class="top_menu clearfix">
        <li><a href="index.html">ホーム</a></li>
        <li><a href="#">事業内容</a></li>
        <li><a href="#">会社概要</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", posts_path %>
</body>