<!DOCTYPE html>
<html>
  <head>
    <title>Twitterclone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header clearfix">
      <%= image_tag 'party_cracker.jpeg', class: 'head_img' %>
    <nav>
      <ul class="top_menu clearfix">
        <%= link_to "投稿一覧画面にもどる", posts_path, class:'top_menu' %>
      </ul>
    </nav>
  </header>
    <div class="container">
      <%= yield %>
    </div>

  <footer>
　　<ul class="footer-menu">
    <li>home ｜</li>
    <li>about ｜</li>
    <li>service ｜</li>
    <li>Contact Us</li>
  </ul>
    <p>© All rights reserved by webcampnavi.</p>
  </footer>

  </body>
</html>
